.noidungbm{
	height: 1000px;
	margin-top:-50px;
	background-color: white;
}
.modal-body{
	padding-left:59px;
	width:80%;
}
.modal-footer{
	padding-top:15px;
	padding-left:620px;
}
.zui-table{
	margin-top: 20px;
}